.account-box
{
    border-radius: 12px;
    border: solid 2px black;
    
    padding: 10px;
    
    width: 100%;
    max-width: 500px;
}

.account-title
{
    padding-left: 20px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.account-box .error
{
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
}

.account-documents-heading {
    border: 2px dashed gray;
    border-radius: 8px;
}

.account-documents-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  
}

            
.account-box .form-group {
  display: block;
  margin: 0px !important;
  padding: 10px 20px 10px 20px;
  
}

.account-box .form-group a{
  font-size: 12px;
}

.account-box label{
    margin: 0px !important;
    margin-top: 5px !important;
    color: black;
}

.account-box input{
    border:none !important;
    border-bottom: 1px solid cadetblue !important;    
    border-radius: 0px !important;
    outline: none !important;        
    background: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    
    color: dimgray;
    font-size: 13px;
    
}

.account-box input:focus {
    background: transparent !important;
}

.account-box input:-webkit-autofill,
.account-box input:-webkit-autofill:hover,
.account-box input:-webkit-autofill:focus,
.account-box input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: dimgray !important;
    
}

@media only screen and (min-width: 64em)
{
    .account-box form button[type="button"]
    {
        width: 200px;       
    }
    
}

@media only screen and (max-width: 63.999em)
{
 .account-box form button[type="button"]
    {
        width: 200px;
    }
}

@media only screen and (max-width: 63.999em) and (min-width: 47.51em)
{
    .account-box form button[type="button"]
    {
        width: 200px;
    }
    
}

@media only screen and (max-width: 47.5em)
{
    .account-box form button[type="button"]
    {
        width: 80%;
    }
    
}


