.unit-top-info
{
    display: flex;
    flex-direction: column;    
}

.unit-short-info{
    display: flex;
    flex-direction: row;
    gap:15px;
    border-top: solid 1px rgba(51, 51, 51, 0.3);
    border-bottom: solid 1px rgba(51, 51, 51, 0.3);
    font-size: 14px;
}

.unit-short-info .fa
{
    padding-right: 5px;
}


.unit-cod{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

    color: #333333;
}

.unit-title{
    
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #2EB66C;
}

.unit-location{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #333333;
}

.unit-main-info
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    
    width: 100%;
}

.unit-main-info img
{
    border-radius: 8px;
}

.unit-short-image-box
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    flex-wrap: wrap;
}

.unit-short-image-item 
{    
    margin-top: 0px;                    
    border-radius: 12px;
    padding: 0px !important;         
}

.unit-short-image {
    background-color: rgba(0,0,0,0.3);
    width: 167px;        
    height: 130px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.unit-description-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
}

.unit-description-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 93% */


    color: #2EB66C;
}

.unit-description-value{
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* or 128% */


    color: #333333; 
    text-align: justify;
    
    padding: 0px 10px 0px 10px;
}

.unit-features-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    
    
}

.unit-cancel-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    
    
}

.unit-map-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

.unit-map-box .map{
    
    border-radius: 8px;
    
}

.unit-features-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 93% */


    color: #2EB66C;
}

.unit-cancel-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    color: #F26419;
}

.unit-cancel-value{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* or 128% */


    color: #333333; 
    
    padding: 0px 10px 0px 10px;
}

.unit-map-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 93% */


    color: #2EB66C;
}

.unit-reservation-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.unit-reservation-grid
{
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 10px;          
}

.unit-reservation-grid-label
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: left;

    color: dimgray;
}

.unit-reservation-grid-value{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */

    text-align: center;

    color: #333333;
}

.unit-reservation-grid-period
{
    display: flex;
    align-items: center;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #333333;
}

.unit-reservation-button{
    background: #2EB66C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 188.81px;
    height: 45px;
    border: 0;
    color: white;
}

.units-box
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.units-header
{
    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.units-header .dropdown
{
   min-width: 150px;
   justify-content: flex-end;
}*/

.units-title
{        
    font-size: 20px;
    color: #2EB66C;
    font-weight: 600;
}

.units-butons
{        
    
}

.unit-box
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    
/*    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;*/

    border-bottom: 1px solid lightgray;
}

.unit-box-status
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    
    font-size: 14px;
}

.unit-box-header
{
    width: 100%;
    display: flex;
    
    flex-direction: row;
    
    justify-content: space-between;
           
    padding: 5px;
    
    border-bottom: solid 2px lightgray;
    
    align-items: baseline;
    gap: 10px;
}

.unit-box-cod
{
    font-weight: 700; 
    font-size: 12px;     
    color: dimgray; 
    /*padding: 5px;*/
}

.unit-box-title
{
   font-size: 16px;
   
   font-weight: 700;
   
   text-align: center;
   color: #2EB66C;
}

.unit-info-box
{
   width: 100%;
    display: flex;
    flex-direction: row;
}

.unit-info-box img
{
   width: 200px;
   border-radius: 12px;
   
   margin: 10px;
}

.unit-info-media
{
   width: 100%;
    display: flex;
    flex-direction: row;
}

.unit-info-content
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.unit-info-content .unit-short-info
{
 border: 0 !important;
}

.unit-info-address,.unit-info-site
{
    font-size: 14px;
}

.unit-info-address .fa, 
.unit-info-site .fa
{
    padding-right: 5px;
}

.unit-box .nav-link
{
    color: dimgray !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 0 !important;
    font-weight: 600 !important;
}

.unit-box .nav-item
{
    margin: 0 !important;
}

.unit-box .nav-link.active
{
    text-decoration: underline !important;
    color: #F26419 !important;
}

.unit-box .text-success,
.unit-box .text-danger
{ 
    margin-bottom: 0px !important; 
    font-size: 14px;
    font-weight: 400;
}

.unit-box .unit-buttons
{
    
    /*min-width: 150px;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
/*    padding-left: 10px;
    padding-right: 10px;*/
}

.unit-box .unit-buttons i
{
    width: 10px;
    cursor: pointer;
    text-align: center;
    
}

.unit-tabs .tab-content .tab-pane
{
    padding: 10px;
}

.unit-reservation-item-box
{
    display: flex;
    flex-direction: column;
    gap:15px;
    
}

.unit-reservation-item-top
{
    width: 100%;
    display: grid;        
    grid-template-columns: 100px auto 40px;
}

.unit-reservation-item-cod{ 
    min-width: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    font-weight: 700;
    font-size: 12px; 
     
    color: dimgray; 
}

.unit-reservation-item-status
{
    padding-left: 20px;
    font-size: 12px;
    color: dimgray;
    font-weight: 700;
    text-align: center;
}

.unit-reservation-item-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
/*    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;*/
}

.unit-validation-box
{
    display: flex;
    flex-direction: column;
    gap:15px;
    
}

.unit-validation-doc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  
}

.unit-validation-info { text-align: center; font-size: 14px;}
.unit-validation-doc-title { margin-bottom: 0px !important;}
.unit-validation-doc-heading { border: 2px dashed gray; border-radius: 8px;}
.unit-validation-doc-footer { padding: 5px; border: 1px; }

.unit-validation-doc-status
{
    font-size: 14px;
    color: green;
    text-align: center;
}

.unit-validation-doc-status.reproved
{
    color: red;
}

.unit-search-box
{
    display: flex;
    flex-direction: row;
    border: 0.5px solid rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    
}

.unit-search-buttons{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 5px;
    width: 40px;
}

.unit-search-button{
    border: none;
    background: transparent;
}

.unit-search-button:focus{
outline: none;
}

.unit-search-box input {
    border: 0px;
    padding: 15px;
}

.unit-result-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
    size: 18px;
}



.unit-form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 100%;
    max-width: 500px;
}


.unit-form-box
{
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    
    width: 100%;
    max-width: 500px;
}

.unit-form-title
{
    padding-left: 20px;
    font-size: 20px;
    color: #2EB66C;
    font-weight: 600;
}

.unit-form-box-title{
    padding-left: 5px;
    font-size: 16px;
    color: #2EB66C;
    font-weight: 600;   
}

.unit-form-box-header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit-form-box-checkbox-grid
{
    padding: 10px;
    display: flex !important;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unit-form-box-checkbox-grid li {
    display: block;
    min-width: 200px;
}

.unit-form-box-checkbox-grid label {
    padding-left: 5px;
    margin: 0px !important;
    margin-top: 5px !important;
    color: cadetblue;
    font-size: 14px;
}

.unit-form-box .inline{
    display: flex;
    align-items: center;
    
}

.unit-form-box .inline .label{
    min-width: fit-content;
}

.unit-form-box .middle{
   vertical-align: middle !important;
}

.unit-form-box table .fa{
   font-size:16px;
   float: right;
}

.unit-form-box table input{
    text-align: center;
}

.unit-form-box .noItemsLabel
{
    color: dimgray;
    font-size: 14px;
}

.unit-form-box-buttons
{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unit-form-image-item
{
    
    display: flex;                                             
    padding: 0px !important;                
    margin-top: 10px;   
    margin-bottom: 15px !important;
    margin-left: 15px !important;
    margin-right: 10px !important;
            
}

.unit-form-image
{
   
    background-color: rgba(0,0,0,0.3);
    width: 200px;        
    height: 136px;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}

.unit-form-box .error
{
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
}
            
.unit-form-box .form-group {
  display: block;
  margin: 0px !important;
  padding: 10px 20px 10px 20px;
  
}

.unit-form-box .form-group a{
    font-size: 12px;
  
  
    color:#F26419;

    font-weight: 600;

}

.unit-form-box label{
    margin: 0px !important;
    margin-top: 5px !important;
    color: black;
    
}

.unit-form-box input,.unit-form-box select{
    border:none !important;
    border-bottom: 1px solid cadetblue !important;    
    border-radius: 0px !important;
    outline: none !important;        
    background: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    color: dimgray !important;
    
}

.unit-form-box textarea{    
    font-size: 13px;
    color: dimgray !important;
    
    padding: 5px 0px 0px 0px;
    border: 0px;
    border-bottom: 1px solid;
    
}

.unit-form-box input:focus {
    background: transparent !important;
}

.unit-form-box input:-webkit-autofill,
.unit-form-box input:-webkit-autofill:hover,
.unit-form-box input:-webkit-autofill:focus,
.unit-form-box input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: dimgray !important;
}

@media only screen and (min-width: 64em)
{
    .units-box .btn {
    width: 200px;
    }
    
}

@media (min-width: 768px)
{
    .simple-list .list-item {
    width: 25%;
    }
}

@media only screen and (max-width: 550px)
{
    
    .unit-info-content 
    {    
        gap: 15px;
    }
    
    .unit-info-box
    {
        flex-direction: column;
        padding: 10px
    }
    
    
    .unit-info-box img
    {
        width: 100%;
        margin: 0;
    }
    
    .unit-reservation-grid.price
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        width: 100%;
    }
    
/*    .unit-reservation-grid
    {
        display: flex;
        flex-direction: column;
        
        
        width: 100%;
    }*/
    
    .unit-short-image-box
    {
        display: none;
    }
    
    .unit-cancel-label, .unit-description-label, .unit-features-label, .unit-map-label{
        font-size: 18px;
    }
    
    .unit-cancel-value, .unit-description-value
    {
        font-size: 14px;                
    }
    
    .unit-short-info
    {
        font-size:12px;
    }
    
    .simple-list .list-item {
        list-style-position: outside;
        font-size: 14px;
        width: 50%;
        float: left;
    }
}

.simple-list {
    width: 100%; margin: auto;
    border: solid 2px #2EB66C;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    
    list-style-type: none;
}

.simple-list .list-item { line-height: 1.6; }
.simple-list .list-item li { display: list-item;}

.simple-list > .list-item::before {
    color: #ed3238;
}
.simple-list>.list-item::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 8px;
    font-size: 14px;
    line-height: 1;
    -webkit-text-stroke: .6px #fff;
}

